body{
    background-image: linear-gradient(rgb(52, 33, 87), rgb(73, 135, 206));
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 2px 10px black;
    font-size: 20px;
    text-align: center;
    transition: 0.3s;
}

input{
    border-radius: 10px;
    border: 3px black;
    height: 15px;
    width: 70px;
    box-shadow: 1px 1px 5px black;
    transition: 0.5s;
    text-align: center;
    margin-bottom: 10px;
}

input:hover{
    transition: 0.5s;
    background-color: gray;
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.514);
}

button {
    transition: 0.3s;
    cursor: pointer;
    border-radius: 8px;
    border: solid 1px black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.253);
    font-size: 24px;
    font-weight: bold;
    padding: 7px;
    margin-top: 25px;
}

button:hover {
    transition: 0.3s;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.253);
    background-color: gray
}

#res1{
    margin-top: 20px;
    font-weight: bolder;
}

#res2{
    margin-top: 10px;
    font-weight: bolder;
}