body{
    background: linear-gradient(120deg, rgb(255, 240, 23), #FEA );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 5px black; 
}

span{
    color: yellow;
}

p{
    margin-top: 0px;
}

input{
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 3px black;
    transition: 0.3s;
    height: 20px;
    text-align: center;
}

input:hover{
    transition: 0.3s;
    background-color: rgba(128, 128, 128, 0.397);
}

button{
    font-weight: bolder;
    border-radius: 4px;
    height: 40px;
    width: 200px;
    margin-top: 25px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.705);
    text-align: center;
    transition: 0.3s;
}

button:hover{
    background-color: gray;
    box-shadow: 1px 2px 5px gray;
}

#res{
    margin-top: 20px;
    font-weight: bolder;
}

